<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <link rel="shortcut icon" type="image/jpeg" href="{{ .Site.BaseURL }}img/profile.jpg">
    <title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="preload stylesheet" href="{{ $style.RelPermalink }}" as="style">
    {{- block "header" .}}{{- end }}
  </head>
  <body>
    {{ partial "header" . }}
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
